@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
    background-color: #ece8ff;
} 
/* Navbar start */
nav{
    height: 100px;
}
.nav-bar{
    display: inline-flex;
}
nav .nav-bar h3{
    text-transform: capitalize;
}
ul{
    list-style: none;
    display: inline-flex;
    
}
li{
    padding: 5px;
}
li a{
    color: blue;
    text-decoration: none;
    text-transform: capitalize;
}
/* Navbar end */