@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family:'Roboto', sans-serif;
    background-color: #f2efff;
} 
/* Navbar start */

.nav-bar h3{
    text-transform: capitalize;
    cursor: pointer;
    font-size: 30px;
}
nav{
    font-size: 17px;
}
.navul{
    list-style: none;
    display: inline-flex;
    vertical-align: text-top;
    
}
.login,.sigh{
    padding-left: 30px;
}
.login,.sigh a{
    color: #1b75ff;
    text-decoration: none;
    text-transform: capitalize;
}
.login a:hover{
    color: #1b75ff;
    text-decoration: underline;
}
.sigh a{
    padding: 6px 10px;
    background-color:#1b75ff;
    color: #fff;
    border-radius: 5px;
    font-weight: 500;
    transition: background-color 0.3s ease;
}
.sigh a:hover{
    background-color: #0051cc;
    transition: background-color 0.4s ease-in-out;
}
#but-sent{
    display: none;
    background-color: #1b75ff;
    border-color: #1b75ff;
}
#but-ext{
    display: none;
    border: none;
    float: right;
}
.bx-menu-alt-right{
    color: #fff;
    background-color: #1b75ff;
    font-size: 17px;
}
.bx-right-arrow-alt{
    color: #1b75ff;
    font-size: 15px;
}
@media (max-width:426px){
.nav-bar h3{
    font-size: 23;
}
.sigh,.login{
    font-size: 17px;
}

}
@media (max-width:326px){
#but-sent{
    display: block;
    padding: 3px 5px;
}
nav{
    display: none;
}
ul{
    display: contents;
}
li{
    padding-left: 0;
    line-height: 2.2;
}
}
/* Navbar end */
/* section email enter start */
.emailmainheading{
    color: #091E42;
    font-size: 48px;
}
.emailpar{
    color: #091E42;
    font-size: 21px;
    line-height: 2;
}
.emailinput{
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; 
}
.img1{
    width: 445px;
    height: 100%;
}
.itsfree{
    font-size: 20px;
    font-weight: 400;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
@media (max-width:1025px){
    .itsfree{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
   
}
@media (max-width:768px){
    .img1{
        display: none;
    }
    .itsfree{
        padding-left: 3.5rem;
        padding-right: 3.5rem;
    }
}
@media (max-width:425px){
    .itsfree{
        width: 100%;
    }
    .emailmain{
        text-align: center;
    }
}
/* section email enter end */